# vscode config files
.vscode/

# automatic build output
build/*
!build/latex
build/latex/*
!build/latex/ndigo6guserguide.pdf
source/doxygen_build/html/

# virtual environment folder
.venv/

# python
__pycache__/

# various
source/figures/obsolete/
*.bat
!make.bat
source/ndigo6g12_interface_DONT_USE.h
