# vscode config files
.vscode/

# automatic build output
build/*
!build/latex
build/latex/*
!build/latex/ndigo6guserguide.pdf

# virtual environment folder
.venv/

# python
__pycache__/

# various
source/figures/obsolete