styles:

    heading:
        fontSize: 12
        textColor: de8817

    title:
        parent: heading
        fontSize: 200%

    heading1:
        parent: heading
        fontSize: 22
    heading3:
        textColor: 6ca0dc
    heading4:
        textColor: 6ca0dc

    body:
        border: 2px solid black
        padding: 20px
